<div id="carouselExample" class="carousel slide">

    <div class="carousel-inner">
        <div class="carousel-item active">
            {{!-- <img src="./images/background.jpg" class="d-block w-100" alt="..."> --}}
            <img src="./images/slidebg/slidebg1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption cap1">
                <h1>indulge in</h1>
                <h1>heavenly</h1>
                <h1>sweet delights</h1>
                <button class="explore-btn">get yours now</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./images/slidebg/slidebg2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption cap2">
                <h1>indulge in</h1>
                <h1>heavenly</h1>
                <h1>sweet delights</h1>
                <button class="explore-btn">get yours now</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./images/slidebg/slidebg3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption cap3">
                <h1>indulge in</h1>
                <h1>heavenly</h1>
                <h1>sweet delights</h1>
                <button class="explore-btn">get yours now</button>
            </div>
        </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>